<div class="child-schema-object">
    <!--<i class="fa" ng-class="{'fa-chevron-right': value!==model.selectedProperty, 'fa-chevron-down':value===model.selectedProperty}"></i>-->
    <ul ng-if="value.items" class="list-unstyled schema-info-list" >
        <li ng-repeat="v in value.items track by $index">
            <schema-object-item double-click="doubleClick" parent-path="parentPath"is-read-only="isReadOnly" value="v" model="model" index="$index" collection="value.items"></schema-object-item>
            <schema-object-factory double-click="doubleClick" parent-path="parentPath" is-read-only="isReadOnly" value="v" model="model"></schema-object-factory>
        </li>
    </ul>
</div>
